$layout-breakpoint-xxs:    400px;
$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;

$layout-breakpoint-tight:  799px;

$st-blue-color: #00a3d9;
$st-red-color: rgb(214, 0, 28);
$st-yellow-color: rgb(247,236,10);

$default-blue-color: rgb(63,81,181);

$body-background-color: rgb(243,244,246);
$toolbar-background-color: rgb(243,244,246);

$less-opacity: .70;


$gray: gray;
$black: rgba(0, 0, 0, 0.87);
$black-font-color: #404040;

$margin-default: 10px;
$margin-default-half:  5px;

$gray-borders-color: rgba(0,0,0,0.12);



