$layout-breakpoint-xxs: 400px;
$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 960px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-lg: 1920px !default;

$layout-breakpoint-tight: 799px;

$st-blue-color: rgb(0, 33, 255);
$st-red-color: rgb(214, 0, 28);
$st-yellow-color: rgb(247, 236, 10);

$default-blue-color: rgba(63, 81, 181, 0.7);
$primary-color: $default-blue-color;
$primary-text-color: rgba(255, 255, 255, 0.87);

$body-background-color: rgb(243, 244, 246);
$toolbar-background-color: rgb(243, 244, 246);

$less-opacity: .70;

$white: rgb(250, 250, 250);
$gray: gray;
$gray-background: #ebebeb;
$black: rgba(0, 0, 0, 0.87);
$black-font-color: #404040;

$margin-default: 10px;
$margin-default-half: 5px;

$gray-borders-color: rgba(0, 0, 0, 0.12);



