.main {

  * {
    outline: none;
  }

  .active {
    background: rgba(138, 138, 138, 0.2);
  }

  .lang-button {

    p {
      float: left;
    }

    md-icon {
      float: right;
      height: 35px;
      width: 25px;
      margin: 0;
    }

  }

  #contacts {

    .showInfo {
      background: rgba(255, 255, 255, 0.95);
      position: fixed;
      top: 76px;
      right: 10px;
      z-index: 100;
      border-radius: 3px;
      font-size: 12.1px;
      padding: 5px;
      width: 180px;
      box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
      p {
        margin: 0;
        text-align: justify;
        color: rgb(86, 86, 86);
      }

      p.name {
        color: black;
        padding-bottom: 1px;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #e4e4e4;
      }

      .tel {

      }

    }

    #circle {
      width: auto;
      height: 10px;
      background: rgba(255, 255, 255, 0.50);

    }

    display: flex;
    height: 100vh;
    flex-direction: column;

    .map-block {
      width: 100%;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.43);
      flex: 1.65;
      overflow: hidden;

      ng-map {
        min-width: 100%;
        div > .custom-marker {
          border: 1px solid black;
          position: fixed !important;
          right: 0;
          top: 0 !important;
          left: 0 !important;
          bottom: 0 !important;
        }
      }

      .loader-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        md-progress-circular {

          margin: 0 auto;

          & > svg > path {
            stroke: #586B90;
          }

        }
        p {
          font-weight: 100;
          text-align: center;
        }
      }

      .angular-google-map-container {
        margin: 0 auto;
        display: block;
        height: 300px;
        min-width: 100%;
      }

      .ya-map {
        margin: 0 auto;
        display: block;
        min-width: 100%;
      }

      img {
        flex: 1;
        width: 100%;
      }

    }
    .contacts-block {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex: 2;

      .contact-us {
        align-self: center;
        font-size: 24px;
        text-align: center;
      }

      .form-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        min-width: 600px;

        input, textarea {
          height: 45px;
          margin-bottom: 17px;
          border: 0 solid #000;
          padding-left: 12px;
          padding-right: 12px;
          border-radius: 3px;
          box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
          background-color: white;
        }

        textarea {
          line-height: 1.6;
          height: 100px;
          resize: none;
        }

        .send-button {
          border-radius: 4px;
          background-color: #627b90;
          -webkit-transition: background-color 300ms ease;
          transition: background-color 300ms ease;
          color: #fff;
          font-size: 16px;
          line-height: 21px;
          font-weight: 300;
          text-align: center;
          letter-spacing: 2px;
          text-decoration: none;
          text-transform: uppercase;

          display: block;
          width: 100%;
          margin-right: 0px;
          margin-left: 0px;

          -webkit-appearance: button;
        }

        .send-button:hover {
          background-color: #586B90;
        }

      }

    }

  }

  .home {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .motto {
      font-size: 40px;
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      width: 300px;

      .home-text {
        flex-basis: 40px;
        text-align: justify;
        margin-bottom: 40px;
      }

    }

    .get-access-button {
      margin: 0;
      background: $get-access-button-color;
      color: white;
      padding: 3px 8px;
    }

    .get-access-button:hover {
      background: $get-access-button-color-hover;
      color: white;
    }

  }

  md-content {
    background: #f9f9f9 !important;
    root-navbar {
      background: gray;
      & > md-toolbar {

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.43);
        padding: 0 6px;

        .sandwich-button {
          height: 64px;
          margin: 0;
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-end;

        }

        .logo {
          margin: 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;

          img {
            width: 35px;
            height: 35px;
            margin-right: 5px;
          }

        }

        .buttons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
        }

        .buttons {
          flex: 1;

          .sandwich-button {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
          }

          button {
            margin: 0;
            height: 64px;

          }

        }

        md-menu {

          button {

            margin: 0;
            height: 64px;
          }
          span {
            vertical-align: top;
          }
          i {
            vertical-align: middle;
            margin-bottom: 2px
          }

        }
      }

    }

    .viewport {
      #about {
        p {
          text-align: justify;
        }
      }
    }

  }
}

.main, .xs {

  #contacts {
    .contacts-block {

      @media(max-width: 640px) {
        .contact-us {
          margin-top: 10px;
        }
      }

      .form-block {

        @media(max-width: 640px) {
          width: 95%;
          min-width: 0;

          input, textarea {
            min-height: 30px;
          }

          textarea {
            line-height: 1.6;

          }

        }

      }
    }
  }

}


