@import "main/main";

.main root-footer {

  $padding: $padding-main/2;
  $margin: $padding-main;

  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: $margin;
  font-size: 85%;

  > * {
    display: flex;
    justify-content: center;
    > * + * {
      margin-left: $margin;
    }

  }

}
