@use "sass:math";
@import "main/main";

.main root-footer {

  $padding: math.div($padding-main, 2);
  $margin: $padding-main;

  box-sizing: border-box;
  background: $white;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;

  text-align: center;
  padding: $margin;
  font-size: 85%;
  color: $gray;

  > * {
    display: flex;
    justify-content: center;
    > * + * {
      margin-left: $margin;
    }

  }

  @include responsive-only(lt-sm) {

    padding: 5px;

  }

}
