.home(
resize='homePage'
style='height: {{ homePage.windowHeight - homePage.offsetTop }}px'
)

  p.motto(translate='HOME.MOTTO')

  .content-wrapper
    p.home-text(translate='HOME.TEXT')
    md-button.md-raised.get-access-button(translate='HOME.BUTTON')
