@import "main/main";
@import "mixins";

.main #home {

  &.chapter {
    @include responsive-only(gt-xxs) {
      position: relative;
    }
  }

  .options {

    @include responsive-only(gt-xxs) {
      position: absolute;
      top: $padding-main;
      right: 0;
      > .md-button:last-child {
        margin-right: 0;
      }
    }

    @include responsive-only(xxs) {
      margin-top: 5px;
      > .md-button {
        width: 100%;
        margin: auto;
      }
    }

  }

  .services {

    md-list-item {

      md-icon {

        background-color: lighten($gray, 35%);
        //$primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $st-blue-color;
        //$primary-text-color;

        > i.fa {
          font-size: 80%;
          &.fa-tablet {
            font-size: 100%;
          }
        }

      }

      .md-secondary-container {
        flex: 1;
      }

      @include responsive-only(xxs) {
        .md-list-item-text {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

    }
  }

}
