#home.chapter

  h1 Sistemium

  p.lead(translate='HOMEPAGE.LEAD')


  md-list.services

    md-list-item
      md-icon.md-avatar-icon
        i.fa.fa-cogs
        //.fa-stethoscope
        //i.fa.fa-object-group
      .md-list-item-text(translate='services.businessFormation')
    md-list-item
      md-icon.md-avatar-icon
        i.fa.fa-tablet
      .md-list-item-text(translate='services.mobileApps')
    md-list-item
      md-icon.md-avatar-icon
        i.fa.fa-desktop
      //i.fa.fa-chrome
      //i.fa.fa.fa-firefox
      .md-list-item-text(translate='services.webApps')
    md-list-item
      md-icon.md-avatar-icon
        i.fa.fa-server
      //i.fa.fa-database
      //i.fa.fa-hdd-o
      .md-list-item-text(translate='services.infrastructure')
    md-list-item
      md-icon.md-avatar-icon
        i.fa.fa-users
      .md-list-item-text(translate='services.support')

  .options

    md-button.md-raised.detailed(translate='HOMEPAGE.options.learn')
    md-button.md-raised.join(translate='HOMEPAGE.options.contact')
    md-button.login.md-primary.md-raised(translate='HOMEPAGE.options.login')
