md-content(layout-padding)

  section.jumbotron
    h1 Sistemium
      p.lead Software development

  section.busy(ng-hide='vm.ready' layout="row" layout-align="center center")
    md-progress-circular(md-diameter="100" md-mode="indeterminate")
