#about.chapter

  //h1 Sistemium
  p.lead(translate='ABOUTPAGE.LEAD')

  md-list

    md-list-item
      .md-list-item-text
        strong(translate='ABOUTPAGE.facts.name')
        span «Sistemium» UAB

    md-list-item
      .md-list-item-text
        strong(translate='ABOUTPAGE.facts.start')
        span 2013

    md-list-item
      .md-list-item-text
        strong(translate='ABOUTPAGE.facts.legalID')
        span 303048373

    md-list-item
      .md-list-item-text
        strong(translate='ABOUTPAGE.facts.legalAddress')
        span Veiverių g. 9B-41, LT-11346 Vilnius, Lithuania

    md-list-item
      .md-list-item-text
        strong(translate='ABOUTPAGE.facts.profile')
        span(translate='ABOUTPAGE.facts.profile_details')

    md-list-item
      .md-list-item-text
        strong(translate='ABOUTPAGE.facts.vatID')
        span LT100008291013

    md-list-item
      .md-list-item-text
        strong(translate='ABOUTPAGE.facts.director')
        span(translate='ABOUTPAGE.facts.directorName')



