#pricing.chapter

  p.lead(translate='PRICINGPAGE.LEAD')

  md-list.options

    md-list-item
      md-icon
        i.material-icons account_circle
      p(translate='PRICINGPAGE.user.monthly')

    md-list-item
      md-icon
        i.material-icons people_outline
      p(translate='PRICINGPAGE.largeVolume')
