@import "vars";
@import "mixins";

$padding-main: 10px;
$border-radius-main: 5px;
$dark-gray-main: darken($gray, 20%);

.main {

  $padding: $padding-main/2;
  $margin: $padding-main;

  color: $black;

  #root-viewport {
    box-sizing: border-box;
  }

  .md-button.active {
    background: lighten($gray, 30%);
  }

  md-toast {

    bottom: unset;

    @include responsive-only(gt-xxs) {
      left: unset;
      width: auto;
      right: 20px;
    }

    &.md-default-theme .md-toast-content{
      background: $st-yellow-color;
      color: $st-blue-color;
    }

  }

  .viewport {

    padding: $padding-main * 2;
    padding-bottom: $padding-main * 3;
    margin-bottom: 25px;
    position: relative;
    z-index: 10;

    > * {
      display: block;
      background: $white;
    }

    @include responsive-only(xxs) {
      padding: $padding-main $padding-main 25px;
    }

  }

  h1, h2, h3, h4, h5 {
    color: lighten($black, 15%);
  }

  h1 {
    font-size: 230%;
  }

  h2 {
    font-size: 120%;
    background-color: $gray-background;
    padding: $padding;
    @include responsive-only(gt-xs) {
      //text-align: right;
    }
  }


  #root-md-content {
    max-width: $screen-md;
    margin-left: auto;
    margin-right: auto;
  }

  .lead {
    color: $dark-gray-main;
    line-height: 1.5;
    font-size: 120%;
  }

  .chapter {

    h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    > p.text {
      color: $dark-gray-main;
      text-align: justify;
    }

  }

  @include responsive-only(xxs) {

    .chapter > h1 {
      font-size: 200%;
      margin-bottom: 8px;
    }

    .md-list-item-text {
      font-size: 90%;
    }

    md-list-item .md-avatar-icon {
      margin-top: $border-radius-main;
      margin-bottom: $border-radius-main;
    }

    .lead, .chapter h1 {
      text-align: center;
      margin-top: 2px;
      margin-bottom: 0;
    }

    .lead {
      margin-top: 5px;
    }

  }

}


