@import "vars";
@import "mixins";

$padding-main: 10px;
$border-radius-main: 5px;

.main {

  $padding: $padding-main/2;
  $margin: $padding-main;

  color: $black;

  .viewport {
    padding: $padding-main * 2;
    @include responsive-only(xxs) {
      padding: $padding-main;
    }
  }

  h1 {
    color: lighten($black, 15%);
  }

  #root-md-content {
    max-width: $screen-md;
    margin-left: auto;
    margin-right: auto;
  }

  .lead {
    color: darken($gray, 15%);
    line-height: 1.5;
    font-size: 120%;
  }

  .lang-button {

    p {
      float: left;
    }

    md-icon {
      float: right;
      height: 35px;
      width: 25px;
      margin: 0;
    }

  }

  .chapter {
    h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

}


