@import "vars";
@import "mixins";

$padding-main: 10px;
$border-radius-main: 5px;
$dark-gray-main: darken($gray, 20%);

.main {

  $padding: $padding-main;
  $margin: $padding-main * 2;

  color: $black;

  .md-button.active {
    background: lighten($gray, 30%);
  }

  h1, h2, h3, h4, h5 {
    color: lighten($black, 15%);
  }

  h1, p {
    margin-top: $margin;
    margin-bottom: $margin;
  }

  .chapter > h2 {
    font-size: 120%;
  }

  .lead {
    color: $dark-gray-main;
    line-height: 1.25;
    font-size: 140%;
  }

  .chapter {

    h1 {
      //margin-top: 0;
      //margin-bottom: $padding;
      font-size: 150%;
    }

    > p.text {
      color: $dark-gray-main;
      text-align: justify;
    }

    .comment {
      color: $gray;
    }

  }

  @include responsive-only(xxs) {

    .chapter > h1 {
      //font-size: 200%;
      //margin-bottom: 8px;
    }

    .lead, .chapter h1 {
      text-align: center;
      margin: $padding 0 $padding;
    }

    p {
      margin: $padding 0 $padding;
    }

  }

}


