@import "main/main";

.main #profile {

  position: relative;

  md-list.roles {

    $padding: $padding-main/2;
    md-list-item, md-list-item:before {
      min-height: 34px;
    }

    md-icon {
      margin-top: $padding;
      margin-bottom: $padding;
      color: green;
    }

  }

  md-list.apps {

    .md-subheader {
      color: $black;
      font-size: 100%;
      margin-bottom: $padding-main;
    }

    .md-subheader:after {
      content: ':';
    }

    md-list-item p > * + * {
      margin-left: $padding-main;
    }

    @include responsive-only(xxs) {
      md-list-item {
        padding: 0;
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }

  }

  @include responsive-only(gt-xxs) {

    .lead {
      float: left;
      margin-top: 0;
    }

    > .options {

      float: right;

      & + * {
        clear: both;
      }

    }

  }

  > .options {

    > *:last-child {
      margin: 0;
    }

    @include responsive-only(xxs) {

      margin-top: $padding-main;
      .logoff {

        box-shadow: none;
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;

      }
    }

  }

}
