.chapter#profile(cg-busy='vm.cgBusy')

  p.lead(translate='PROFILE-PAGE.LEAD')

  .options

    md-button.logoff.md-warn.md-raised(
    aria-label='User sign out'
    ng-click='vm.logoffClick($event)'
    )
      span(translate='PROFILE-PAGE.options.logoff')

  h1 {{ vm.account.name }}

  p
    span.
      {{ 'PROFILE-PAGE.youAre' | translate }}
      {{ 'PROFILE-PAGE.ofOrg' | translate:vm.data }}
    span.test-environment(ng-if='vm.data.isTestEnvironment' translate='PROFILE-PAGE.testEnvironment')

  md-subheader.roles(translate='PROFILE-PAGE.assignedRoles')

  md-chips(ng-model='vm.data.roles' readonly="true")
    md-chip-template {{ 'PROFILE-PAGE.role.' + $chip.code | translate }}

  md-list.apps
    md-subheader(translate='PROFILE-PAGE.apps.header')
    md-list-item(ng-repeat='app in vm.data.apps track by app.code')
      md-icon(ng-class='{authorized: app.authorized}')
        i.material-icons {{ app.authorized ? 'lock_open' : 'check' }}
      p
        strong(translate='PROFILE-PAGE.apps.{{ app.code }}')
        a(href='{{app.url}}{{app.params||""}}') {{ app.url }}

  //md-list.roles
    md-list-item(ng-repeat='role in vm.roles | orderBy: "code" track by role.code')

      md-icon
        i.material-icons check

      p
        strong {{ role.code }}
        span(ng-if='role.value !==true') : {{ role.value | json }}
