.chapter#profile(cg-busy='vm.cgBusy')

  h1 {{ vm.account.name }}

  p.lead(translate='PROFILE-PAGE.LEAD')

  .options

    md-button.logoff.md-warn.md-raised(
    aria-label='User sign out'
    ng-click='vm.logoffClick($event)'
    )
      span(translate='PROFILE-PAGE.options.logoff')

  h2.
    {{ 'PROFILE-PAGE.youAre' | translate }} {{ 'PROFILE-PAGE.role.' + vm.data.mainRole | translate }}
    {{ 'PROFILE-PAGE.ofOrg' | translate:vm.data }}

  //md-list.roles
    md-list-item(ng-repeat='role in vm.roles | orderBy: "code" track by role.code')

      md-icon
        i.material-icons check

      p
        strong {{ role.code }}
        span(ng-if='role.value !==true') : {{ role.value | json }}
