.chapter#profile

  h1 {{ vm.account.name }}

  p.lead(translate='PROFILEPAGE.LEAD')

  .options

    md-button.logoff.md-warn.md-raised(
    aria-label='User sign out'
    ng-click='vm.logoffClick($event)'
    )
      i.material-icons exit_to_app
      span(translate='PROFILEPAGE.options.logoff')

  md-list.roles
    md-list-item(ng-repeat='role in vm.roles | orderBy: "code" track by role.code')

      md-icon
        i.material-icons check

      p
        strong {{ role.code }}
        span(ng-if='role.value !==true') : {{ role.value | json }}
