@use "sass:math";
@import "main/main";
@import "mixins";

.main root-navbar {

  $padding: math.div($padding-main, 2);
  $margin: $padding-main;

  display: block;

  @include responsive-only(gt-md) {
    margin-top: $margin * 2;
    md-toolbar {
      border-radius: $border-radius-main;
    }
  }

  & > md-toolbar {

    background: $gray-background;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 0 $margin;

    .md-button {
      border-radius: 0;
    }

    .sandwich-button {
      height: 64px;
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
    }

    .logo {

      margin: 0;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $dark-gray-main;
      font-size: 150%;
      font-weight: 600;

      img {
        width: 54px;
        height: 54px;
        margin-right: $padding;
      }

      @include responsive-only(lt-sm) {

        font-size: 120%;

        img {
          width: 40px;
          height: 40px;
        }

      }

    }

    md-menu.lang {

      @include responsive-only(lt-sm) {
        flex: 1;
        text-align: right;
      }

    }

    .buttons {

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      flex: 1;

      > .md-button {

        @include responsive-only(lt-sm) {
          display: none;
        }

        min-width: 0;
        padding-right: $margin;
        padding-left: $margin;

        i {
          vertical-align: middle;
          margin-bottom: 2px;
          font-size: 26px;
        }

      }

      @include responsive-only(lt-sm) {
        order: 2;
        flex: none;
        button {
          min-width: 50px;
        }
      }

      .sandwich-button {
        @include responsive-only(gt-xs) {
          display: none;
        }
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }

      button {
        margin: 0;
        height: 64px;

      }

    }

    md-menu {

      button {

        margin: 0;
        height: 64px;
      }
      span {
        vertical-align: top;
      }
      i {
        vertical-align: middle;
        margin-bottom: 2px
      }

    }
  }

}

.main {

  .lang-button {

    display: flex;

    justify-content: space-between;
    p {
      margin-left: 0;
    }

    md-icon {
      height: 35px;
      width: 25px;
      margin: 0;
    }

  }

}
