@import "main/main";
@import "mixins";

.main root-navbar {

  $padding: $padding-main/2;
  $margin: $padding-main;

  display: block;

  @include responsive-only(gt-md) {
    margin-top: $margin * 2;
    md-toolbar {
      border-radius: $border-radius-main;
    }
  }

  .lang-button {

    p {
      float: left;
    }

    md-icon {
      float: right;
      height: 35px;
      width: 25px;
      margin: 0;
    }

  }

  & > md-toolbar {

    background: $gray-background;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 0 $margin;

    .md-button {
      border-radius: 0;
    }

    .active {
      background: lighten($gray, 30%);
    }

    .sandwich-button {
      height: 64px;
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
    }

    .logo {

      margin: 0;

      img {
        width: 54px;
        height: 54px;
        margin-right: $padding;
      }

    }

    .buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      > .md-button {
        min-width: 0;
        padding-right: $margin;
        padding-left: $margin;
      }
    }

    .buttons {
      flex: 1;

      .sandwich-button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }

      button {
        margin: 0;
        height: 64px;

      }

    }

    md-menu {

      button {

        margin: 0;
        height: 64px;
      }
      span {
        vertical-align: top;
      }
      i {
        vertical-align: middle;
        margin-bottom: 2px
      }

    }
  }

}
